.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: white;
  padding: 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Equivalent to space-x-2 (Tailwind's space-x-2 = 0.5rem/8px) */
}
.navbar-logo span {
  font-size: x-large;
}
.brand-name {
  color: #f46f25; /* Fallback */
  @supports (-webkit-background-clip: text) {
    background: linear-gradient(to right, #f46f25, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
navbar-logo-img {
  height: 2.5rem; /* h-10 = 2.5rem (40px) */
  width: 2.5rem; /* w-10 = 2.5rem (40px) */
}
.navbar a {
  color: #000;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
.navbar a:hover {
  color: #61dafb;
}
