.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2f38;
  padding: 15px;
}

.navbar a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #61dafb;
}
